{:deps {reagent {:mvn/version "0.8.1"}}
 :paths ["src"]

 :aliases
 {:dev {:extra-paths ["target"]
        :extra-deps {com.bhauman/figwheel-main {:mvn/version "RELEASE"}
                     com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}
                     binaryage/devtools {:mvn/version "RELEASE"}}
        :main-opts ["--main" "figwheel.main" "--build" "dev"]}

  :ancient {:main-opts ["-m" "deps-ancient.deps-ancient"]
            :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}}}
